@charset "UTF-8";

/* Adding a external font */
@font-face {
    font-family: standard;
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
    font-weight: 500 800;
}

/* Adding some colors vars*/
:root{
    --yellow: hsl(47, 88%, 63%);
    --light-gray:hsl(0, 0%, 42%);
    --dark-gray:hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    font-family: standard, sans-serif;
    font-size: 12px;
    /*Centering the main with flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    margin: 0;
}

main{
    background-color: white;
    width: 280px;
    height: 410px;
    padding: 18px;
    border-radius: 20px;
    border: 1px solid var(--dark-gray);
    box-shadow: 8px 8px black;
}

main h1{
    font-weight: 800;
}

.content{
    max-width: 100%;
}

#card{
    border-radius: 10px;
}

#learning{
    background-color: var(--yellow);
    padding: 6px;
    border-radius: 3px;
    font-weight: 650;
    width: 50px;
    text-align: center;
}

#paragraph{
    color: var(--light-gray);
    font-size: 15px;
}

#author{
    display: flex;
    align-items: center;
}

#author img{
    width: 25px;
    height: 25px;
}

#author p{
    margin-left: 10px;
    font-weight: 800;
}